<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Facebook Liker - CSVFile</title>
    <link rel="stylesheet" href="/static/css/main.css" />
    <link
      rel="shortcut icon"
      href="/static/img/favicon.ico"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Ubuntu"
    />
  </head>

  <body>
    <header>
      <h1><a href="/">Facebook Liker</a></h1>
    </header>
    <nav>
      <a href="/">Like</a>
      <a href="/csv">CSVFile</a>
    </nav>
    <section>
      <label>Please wait untill we will finish liking</label>
    </section>

    <footer>Powered by <a href="https://golang.org">Golang</a></footer>

    <script src="/static/js/main.js" type="text/javascript"></script>
  </body>
</html>
